# Core Libraries
pandas
numpy
scikit-learn

# Visualization
matplotlib
seaborn

# Web App Framework
streamlit

# Deployment Tools
pyngrok
streamlit-option-menu

# Model Serialization
joblib

# Utility Libraries
threading
time

